<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" />
<body>
    <p th:text="${msg}">잠시만 기다려주세요...</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>id</td>
                <td>이름</td>
                <td>가격</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${phoneList}">
                <td th:text="${p.id}">1</td>
                <td><a th:href="'/phone/update/' + ${p.id}"><span th:text="${p.name}">Vega</span></a></td>
                <td th:text="${p.price}">8970000</td>
            </tr>
        </tbody>
    </table>
    <div>
        <ul class="pagination">
            <li th:each="i : ${#numbers.sequence(beginIndex, endIndex)}" class="page-item" th:classappend="${currentIndex == i} ? active : ''">
                <a th:href="'/?pageNumber=' + ${i}"><span th:text="${i}" class="page-link">1</span></a>
            </li>
        </ul>
    </div>
    <a th:href="@{/phone/create}">Add Phone</a>
    <footer>
        <div th:include="fragments/footer :: footer" />
    </footer>
</body>
</html>